rad-sim/build/
rad-sim/CMakeFiles/
rad-sim/.vscode/
.vscode
.DS_Store
*.mif
rad-sim/example-designs/dlrm/compiler/mvm_weights/*.dat
rad-sim/example-designs/dlrm/compiler/embedding_tables/*.dat
rad-sim/example-designs/dlrm/compiler/instructions/*.inst
rad-sim/example-designs/dlrm/compiler/*.in
rad-sim/example-designs/dlrm/compiler/*.out
rad-sim/example-designs/dlrm/compiler/*.config
rad-sim/sim/*.log
rad-sim/sim/*.out
rad-sim/example-designs/dlrm/modules/*.bak
rad-sim/logs/*.txt
rad-sim/logs/*.json
rad-sim/example-designs/dlrm/compiler/reports
rad-sim/example-designs/dlrm/compiler/*.html
