radsim_root_dir = /home/andrew/repos/rad-flow-dev/rad-sim
radsim_user_design_root_dir = /home/andrew/repos/rad-flow-dev/rad-sim/example-designs/dlrm

rad_instance = 2d
num_nocs = 1
noc_period = [1.0]
noc_payload_width = [82]
noc_topology = [mesh]
noc_dim = [10x10]
noc_routing_func = [dim_order]
noc_vcs = [5]
noc_vc_buffer_size = [16]
noc_output_buffer_size = [8]
noc_num_packet_types = [5]
noc_router_uarch = [iq]
noc_vc_allocator = [islip]
noc_sw_allocator =  [islip]
noc_credit_delay = [1]
noc_routing_delay = [1]
noc_vc_alloc_delay = [1]
noc_sw_alloc_delay = [1]
noc_placement_file = [dlrm.place]
adapter_fifo_size = [16]
adapter_obuff_size = [2]
adapter_in_arbiter = [fixed_rr]
adapter_out_arbiter = [priority_rr]
adapter_vc_mapping = [direct]
adapter_period = [1.25, 1.25, 1.25]
module_period = [5.0, 2.0, 3.32, 1.5]
sim_driver_period = 5.0
log_verbosity = 2
num_traces = 14
num_trace_modules = 14
trace_names = [Embedding LU, Mem0, Mem1, Mem2, Mem3, Feature Inter., MVM first, MVM last]
dram_controllers = 4
dram_controller_period = [3.32, 3.32, 2.0, 2.0]
dram_controller_queue_size = [64, 64, 64, 64]
dram_config_file = [DDR4_8Gb_x16_2400, DDR4_8Gb_x16_2400, HBM2_8Gb_x128, HBM2_8Gb_x128]