radsim_root_dir = /media/andrew/DATA/research/rad-flow/rad-sim
radsim_user_design_root_dir = /media/andrew/DATA/research/rad-flow/rad-sim/example-designs/mvm

rad_instance = 2d
num_nocs = 1
noc_period = [1.0]
noc_payload_width = [166]
noc_topology = [mesh]
noc_dim = [4x4]
noc_routing_func = [dim_order]
noc_vcs = [5]
noc_vc_buffer_size = [8]
noc_output_buffer_size = [8]
noc_num_packet_types = [5]
noc_router_uarch = [iq]
noc_vc_allocator = [islip]
noc_sw_allocator =  [islip]
noc_credit_delay = [1]
noc_routing_delay = [1]
noc_vc_alloc_delay = [1]
noc_sw_alloc_delay = [1]
noc_placement_file = [mlp.place]
adapter_fifo_size = [16]
adapter_obuff_size = [2]
adapter_in_arbiter = [fixed_rr]
adapter_out_arbiter = [priority_rr]
adapter_vc_mapping = [direct]
adapter_period = [1.25]
module_period = [5.0]
sim_driver_period = 5.0
log_verbosity = 2
num_traces = 0
num_trace_modules = 0
trace_names = []
dram_controllers = 0
dram_controller_period = [2.0]
dram_controller_queue_size = [64]
dram_config_file = [HBM2_8Gb_x128]
